<!DOCTYPE html>
<html lang="pt-BR" oncontextmenu="return false">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VISUALIZAR BLOG</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="icon" href="https://freepngimg.com/download/anime/10-2-anime-png-images.png" type="image/png">
</head>

<body style="background-color: #252636;">
  <main class="container">
    <h1 class="mb-1" style="color: #ADBAC7;">
      <%= article.title %>
    </h1>

    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleString({ region: 'pt-BR' }, { timeZone: 'America/Sao_Paulo' }).replace(/,/g, '' ) %>
    </div>

    <a href="/" class="btn btn-outline-warning">Todos os artigos</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-outline-info">Editar</a>

    <div class="card mt-4 card-body">
      <%- article.sanitizedHtml %>
    </div>
  </main>
</body>

</html>